<%= stylesheet_link_tag "application" %>
<%= javascript_include_tag "scorepredictor"  %>

<h3>Today's Matchups:</h3>

<% if @games["dates"].any? %>
  <% i = 0 %>
  <% z = 1 %>
  <% x = @games["dates"][0]["games"].length %>
  <% @time = Time.parse(@games["dates"][0]["games"][i]["gameDate"]) %>

  <% while (i < x) do %>
    <ul>
      <li><b>Game <%=z %> :</b>
        <%= @games ? @games["dates"][0]["games"][i]["teams"]["home"]["team"]["name"] : "Game info loading..." %>
          Vs.
        <%= @games ? @games["dates"][0]["games"][i]["teams"]["away"]["team"]["name"] : "Game info loading..." %>
          @
        <% @time = Time.parse(@games["dates"][0]["games"][i]["gameDate"])  %>

        <%= @time.in_time_zone("Mountain Time (US & Canada)") %>

        <button id="myBtn">Predicted Game Winner </button>
          <div id="myModal" class="modal">
            <div class="modal-content">
              <span class="close">&times;</span>
                <p>Likely need to use JS to display correct calculated win percentage score here,
                also may need to create a rails function that calculates the difference between the two scores
                <%=  @total_war_difference %>
              </p>
              </div>
          </div>
      </li>
    </ul>
      <% i += 1 %>
      <% z += 1 %>
    <% end %>

  <% else %>

     <h3> No Game's Today </h3>


  <% end %>

    <%= link_to "Team War Info", root_path %>
