
<h1>Team WAR Stats</h1>
<h3>Search for Team: </h3>

<%= form_tag(teams_path, method: :get) do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag 'Search', name: nil %>
  <button><%= link_to 'Reset', teams_path, id: 'reset-btn' %></button>
<% end %>


    <% @teams.each do |team| %>
    <ul>
      <li><b><%= team.name %></b> </li>
      <br />
      <li>Team Batting War: <%= team.batting_stat ? team.batting_stat.batting_war : 'Loading...' %> </li>
      <br />
      <li>Team Pitching War: <%= team.pitching_stat ? team.pitching_stat.pitching_war : 'Loading...' %> </li>
      <br />
      <li>Total Team War: <%= team.total_war ? team.total_war : 'Loading...' %> </li>
    </ul>
<% end %>


<% if @teams.blank? %>
  <h4>There are no teams containing the term <%= params[:search] %>, please try again</h4>
<% end %>

<%= link_to "Today's Games", game_info_path %>
</body>
