<%= stylesheet_link_tag "teamstyles" %>
<head>
  <title>Team WAR Data</title>
</head>
<body class="gamesIndex">
  <h1 id="dataHeading">Team WAR Stats</h1>
  <hr class="breakLine" />
  <h3 id="searchHeading">Search for Team WAR Data: </h3>

<div id="searchInput">
  <%= form_tag(teams_path, method: :get) do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag 'Search', name: nil %>
      <button><%= link_to 'Reset', teams_path, id: 'reset-btn' %></button>
  <% end %>
</div>

<div id="gameInformation2">
    <% @teams.each do |team| %>
    <table>
      <tr>
        <th>Team Name</th>
        <th>Team Batting War</th>
        <th>Team Pitching War</th>
        <th>Total Team War</th>
      </tr>
      <tr>
        <td><b><%= team.name %></b></td>
      <br />
      <td><%= team.batting_stat ? team.batting_stat.batting_war : 'Loading...' %> </td>
      <br />
      <td><%= team.pitching_stat ? team.pitching_stat.pitching_war : 'Loading...' %> </td>
      <br />
      <td><%= team.total_war ? team.total_war : 'Loading...' %> </td>
      </tr>
    </table>
<% end %>
</div>

  <div class="noGameAnnouncement">
    <% if @teams.blank? %>
      <h4>There are no teams containing the term <%= params[:search] %>, please try again</h4>
      <% end %>
    </div>

  <hr class="breakLine" />

  <div class="teamWarLink">
    <h3><%= link_to "Today's Games", root_path %></h3>
  </div>
<div class="appInfo">
  <p>
    <b>How this works:</b><br/> The predicted winners are based on regularly updated team WAR totals and the
    difference between each team's total WAR. <br/>The larger the difference in total WAR between the
    two teams playing, the greater the percent chance one team has of winning.<br/>
    The specific percent chance of winning is based on the absolute difference in total WAR between each team.<br/>
    Current Accuracy rate is 68% of games predicted correctly.
    <br/><b><em>Use at own risk.</em></b>
  </p>
</div>
<footer class='scorepredictorFooter'>
<div class="mlbLogo"><%= image_tag("mlblogo.png", height: '50', width: '50', alt: 'MLB Logo') %></div>
<p class="footerId">
  <b>Baseball Score Predictor Created By <a href="http://www.nathanstuart01.com">
Nathan Stuart</a></b><br/>
</p>
</footer>
</body>
