<%= javascript_include_tag "scorepredictor" %>
<%= stylesheet_link_tag "teamstyles" %>
<head>
  <title>Baseball Score Predictor</title>
</head>

<% if @games.length == 0 %>
<body id="gamesIndex">
  <h2 id="indexHeading">Today's MLB Game Predictions</h2>
  <div id="noGameAnnouncement">
    <h3>There are no scheduled games today</h>
  </div>
  <hr id="breakLine" />
  <div id="teamWarLink">
    <h3><%= link_to "Team Data Information", teams_path %></h3>
  </div>
  <div id="appInfo">
    <p>
      <b>How this works:</b><br/> The predicted winners are based on regularly updated team WAR totals and the
      difference between each team's total WAR. <br/>The larger the difference in total WAR between the
      two teams playing, the greater the percent chance one team has of winning.<br/>
      The specific percent chance of winning is based on the absolute difference in total WAR between each team.<br/>
      Current Accuracy rate is 68% of games predicted correctly.
      <br/><b><em>Use at own risk.</em></b>
    </p>
  </div>
  <footer id='scorepredictorFooter'>
    <div id="mlbLogo"><%= image_tag("mlblogo.png", height: '40', width: '40', alt: 'MLB Logo') %></div>
    <p id="footerId">
    <b>Baseball Score Predictor Created By <a href="http://www.nathanstuart01.com">
  Nathan Stuart</a></b><br/>
  </p>

</footer>
</body>

<% else %>

<body id="gamesIndex">
  <h2 id="indexHeading">Today's MLB Game Predictions</h2>
  <div id="gameInformation2">
    <h3>Teams Playing</h3>
  </div>
  <div id="firstPitchInformation2">
    <h3>First Pitch</h3>
  </div>
  <div id="predictedWinner2">
    <h3 id="predictedWinner2Heading">Predicted Winner</h3>
  </div>
  <div id="percentChanceWinner2">
    <h3 id="percentChanceWinner2Heading">Chance of Winning</h3>
  </div>
  <hr id="breakLine" />
  <div id="teamWarLink">
    <h3><%= link_to "Team Data Information", teams_path %></h3>
  </div>
  <div id="appInfo">
    <p>
      <b>How this works:</b><br/> The predicted winners are based on regularly updated team WAR totals and the
      difference between each team's total WAR. <br/>The larger the difference in total WAR between the
      two teams playing, the greater the percent chance one team has of winning.<br/>
      The specific percent chance of winning is based on the absolute difference in total WAR between each team.<br/>
      Current Accuracy rate is 68% of games predicted correctly.
      <br/><b><em>Use at own risk.</em></b>
    </p>
  </div>
  <footer id='scorepredictorFooter'>
  <div id="mlbLogo"><%= image_tag("mlblogo.png", height: '40', width: '40', alt: 'MLB Logo') %></div>
  <p id="footerId">
    <b>Baseball Score Predictor Created By <a href="http://www.nathanstuart01.com">
  Nathan Stuart</a></b><br/>
</p>
</footer>
</body>

<% end %>
