<%= stylesheet_link_tag "application" %>

<h3>Today's Games:</h3>

  <% if @games.present? %>

      <% @games.each do |game| %>

        <ul>
          <li> <%= game.away_team %> @ <%= game.home_team %> </li>
            <ul>
              <li> First Pitch: <%= game.game_info.strftime("%l:%M") %> MST </li>
              <p class="war">Total War: </p>
            </ul>
        </ul>

    <% end %>
  <% else %>

    <h5> No Games Scheduled For Today</h5>

  <% end %>

  <ul class="teamData">
    <p class="war"></p>
  </ul>

    <%= link_to "Team War Info", teams_path %>
