<%= javascript_include_tag "scorepredictor" %>
<%= stylesheet_link_tag "teamstyles" %>

<body class="scorepredictor">
<h3>Today's Games:</h3>

  <% if @games.present? %>

      <% @games.each do |game| %>

        <ul>
          <li> <%= game.away_team %> @ <%= game.home_team %> </li>
            <ul>
              <li>First Pitch: <%= game.game_info.strftime("%l:%M") %> MST </li>
              <br />
              <li class="war">Predicted Winner: </li>

            </ul>
        </ul>

    <% end %>
  <% else %>

    <h5> No Games Scheduled For Today</h5>

  <% end %>

    <%= link_to "Team War Info", teams_path %>
</body>
